.vscode/**
src/**
webview/src/**
webview/node_modules/**
webview/package.json
webview/package-lock.json
webview/tsconfig.json
webview/vite.config.ts
webview/postcss.config.js
webview/tailwind.config.js
node_modules/**
esbuild.config.mjs
tsconfig.json
pnpm-lock.yaml
pnpm-workspace.yaml
.gitignore
*.map
**/*.map
